section.form#contacts.margin-section
  .container 
    h2.h2title.form__title Связаться с нами
    .form__content 
      form.form__col(action="#") 
        h3.form__subtitle Оставьте заявку, и мы поможем вам спланировать поездку
        .input-block
          input(type="text" placeholder=" ")
          span Ваше имя
        .input-block
          input(type="tel" placeholder=" " data-type="tel")
          span Телефон 
            span.required *
        .input-block
          input(type="email" placeholder=" " data-type="email")
          span E-mail
        .input-block
          textarea(placeholder="Комментарий к заявке")
        .form__bot 
          button.btn-primary.form__btn(type="submit") Отправить заявку
          p.form__text Нажимая на кнопку, вы соглашаетесь с 
            a(href="#") политикой конфиденциальности
      .form__col
        .form__map 
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A54c2243714a294278291d303123a5809527b9917dc55dcd3519e44398ae27227&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
        ul.form__contacts.form-contacts 
          li.form-contacts__item 
            .form-contacts__link
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Россия, Краснодарский край, Сочи, Несебрская улица, д. 6 
          li.form-contacts__item 
            a.form-contacts__link(href="tel:89990320371") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 16.9201V19.9201C22.0011 20.1986 21.9441 20.4743 21.8325 20.7294C21.7209 20.9846 21.5573 21.2137 21.3521 21.402C21.1468 21.5902 20.9046 21.7336 20.6407 21.8228C20.3769 21.912 20.0974 21.9452 19.82 21.9201C16.7428 21.5857 13.787 20.5342 11.19 18.8501C8.77382 17.3148 6.72533 15.2663 5.18999 12.8501C3.49997 10.2413 2.44824 7.27109 2.11999 4.1801C2.095 3.90356 2.12787 3.62486 2.21649 3.36172C2.30512 3.09859 2.44756 2.85679 2.63476 2.65172C2.82196 2.44665 3.0498 2.28281 3.30379 2.17062C3.55777 2.05843 3.83233 2.00036 4.10999 2.0001H7.10999C7.5953 1.99532 8.06579 2.16718 8.43376 2.48363C8.80173 2.80008 9.04207 3.23954 9.10999 3.7201C9.23662 4.68016 9.47144 5.62282 9.80999 6.5301C9.94454 6.88802 9.97366 7.27701 9.8939 7.65098C9.81415 8.02494 9.62886 8.36821 9.35999 8.6401L8.08999 9.9101C9.51355 12.4136 11.5864 14.4865 14.09 15.9101L15.36 14.6401C15.6319 14.3712 15.9751 14.1859 16.3491 14.1062C16.7231 14.0264 17.1121 14.0556 17.47 14.1901C18.3773 14.5286 19.3199 14.7635 20.28 14.8901C20.7658 14.9586 21.2094 15.2033 21.5265 15.5776C21.8437 15.9519 22.0122 16.4297 22 16.9201Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | +7 999 032 03 71
          li.form-contacts__item 
            a.form-contacts__link(href="mailto:dinastiasochi@gmail.com") 
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 6L12 13L2 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | dinastiasochi@gmail.com



