header.header 
  .container.header__container
    a.header__logo(href="/") 
      <svg class="logo-grad" width="28" height="40">
        <use xlink:href="#logo-grad"></use>
      </svg>
      <svg class="logo-fill" width="101" height="40">
        <use xlink:href="#logo-fill"></use>
      </svg>


    nav.header__menu 
      ul.header__list.header-list
        li.header-list__item 
          button.header-list__link.btn-secondary Услуги
          .header-list__level.header-list-level
            .container.header-list-level__container
              ul.header-list-level__col
                li.header-list-level__item.header-list-level__item--active
                  a.header-list-level__title(href="#") Организация отдыха
                li.header-list-level__item
                  a.header-list-level__link(href="#") Индивидуальный
                li.header-list-level__item
                  a.header-list-level__link(href="#") Семейный
                li.header-list-level__item
                  a.header-list-level__link(href="#") Корпоративный
              ul.header-list-level__col
                li.header-list-level__item
                  a.header-list-level__title(href="#") Казино выходного дня
              ul.header-list-level__col
                li.header-list-level__item
                  a.header-list-level__title(href="#") Организация бизнес-встреч
                li.header-list-level__item
                  a.header-list-level__link(href="#") Закрытые конференц-залы
                li.header-list-level__item
                  a.header-list-level__link(href="#") СПА-комплексы
                li.header-list-level__item
                  a.header-list-level__link(href="#") Деловые ужины
              ul.header-list-level__col
                li.header-list-level__item
                  a.header-list-level__title(href="#") Бизнес-авиация
                li.header-list-level__item
                  a.header-list-level__link(href="#") Подача вертолёта в аэропорт
                li.header-list-level__item
                  a.header-list-level__link(href="#") Трансфер до Краснодара
              ul.header-list-level__col
                li.header-list-level__item
                  a.header-list-level__title(href="#") Аренда транспорта
                li.header-list-level__item
                  a.header-list-level__link(href="#") Наземный
                li.header-list-level__item
                  a.header-list-level__link(href="#") Водный

        li.header-list__item 
          a.header-list__link(href="#") Контакты
    .header__info
      a.header__lang.btn-secondary(href="#")  English 
      button.header__btn.btn-primary Забронировать поездку
      button.header__theme.header-theme
        span.header-theme__sun 
        span.header-theme__moon