$light-primary-button: #febd5d;
$dark-primary-button: #f1c37e;

$light-grad: linear-gradient(180deg, #fec776 0%, #feb343 100%);
$dark-grad: linear-gradient(191.37deg, #ffa929 -5.82%, #fec776 27.36%, #fdd497 48.12%, #f5b455 67.61%, #ffaf3a 103.83%);

$light-tertiary-accent: #45876d;
$dark-tertiary-accent: #7bccb9;

$light-error: #fe442a;
$dark-error: #fe705d;

$light-sunset-icon: linear-gradient(180deg, #7872c0 0%, #5ca1d6 100%);
$dark-sunset-icon: linear-gradient(180deg, #b3aeea 0%, #add0eb 100%);

$light-sunset-card: linear-gradient(180deg, #7872c0 0%, #5ca1d6 100%);
$dark-sunset-card: linear-gradient(180deg, #6962c6 0%, #458dc4 100%);

$light-surface: #f9fafb;
$dark-surface: #29313d;

$light-card-surface: #ffffff;
$dark-card-surface: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #29313d;

$light-on-card-surface: #f9fafb;
$dark-on-card-surface: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #29313d;

$light-shadow: #14191f;
$dark-shadow: #23272f;

$color-text-2: #e0e5eb;
$color-text-3: #c2cad6;
$color-text-4: #a3b0c2;
$color-text-5: #8595ad;
$color-text-6: #667b99;
$color-text-7: #52627a;
$color-text-8: #3d4a5c;
$color-text-9: #29313d;
